<div class="container-fluid ml-0 text-white bg-success px-0 h-100" style="width: 300px">
  <div class="row align-items-center px-4 no-gutters pt-30px">
    <h1 class="col mb-0">BetaHealth</h1>
    <i class="material-icons top-icons">add</i>
    <i class="material-icons top-icons ml-2">search</i>
  </div>
  <div class="row menu-item px-4 no-gutters mt-40px h-50px">
    <div class="col d-flex align-items-center faint">
      <i class="material-icons">tv</i>
      <p class="mb-0 ml-2">Dashboard</p>
    </div>
  </div>
  <div class="row active-menu-item px-4 no-gutters h-50px">
    <div class="col d-flex align-items-center">
      <i class="material-icons">hotel</i>
      <p class="mb-0 ml-2">Enrollees</p>
    </div>
  </div>
  <div class="row menu-item px-4 no-gutters h-50px">
    <div class="col d-flex align-items-center faint">
      <i class="material-icons">local_shipping</i>
      <p class="mb-0 ml-2">Care Providers</p>
    </div>
  </div>
  <div class="row menu-item px-4 no-gutters h-50px">
    <div class="col d-flex align-items-center faint">
      <i class="material-icons">group</i>
      <p class="mb-0 ml-2">Staff</p>
    </div>
  </div>
  <div class="row menu-item px-4 no-gutters h-50px">
    <div class="col d-flex align-items-center faint">
      <i class="material-icons">timeline</i>
      <p class="mb-0 ml-2">Reports</p>
    </div>
  </div>
  <div class="row menu-item px-4 no-gutters h-50px">
    <div class="col d-flex align-items-center faint">
      <i class="material-icons">brightness_high</i>
      <p class="mb-0 ml-2">Settings</p>
    </div>
  </div>
</div>